button {
    background-color: #1a1a1a;
    color: #ccc;
    transition: background-color 0.2s, transform 0.2s;
  }
  
  button:hover {
    background-color: #222222;
    color: #fff;
  }
  
  .navbar-container {
    background-color: #111111; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  button .icon svg {
    stroke: #ccc;
  }
  
  .dropdown-content {
    background-color: #1a1a1a;
    color: #ccc;
    border-radius: 0.375rem;
  }
  
  .dropdown-content li:hover {
    background-color: #222222;
    color: white;
  }
  
  .dropdown-content li a {
    color: #ccc;
    transition: color 0.2s ease;
  }
  
  .dropdown-content li a:hover {
    color: #fff;
  }