@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.content-wrapper {
    height: calc(100vh - 64px); /* Adjust this value based on your navbar height */
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.content-wrapper::-webkit-scrollbar {
    display: none;
}